@font-face {
	font-family: "Hermit Bold";
	src: url("../fonts/Hermit-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Hermit Light";
	src: url("../fonts/Hermit-Light.otf") format("opentype");
}

@font-face {
	font-family: "Hermit";
	src: url("../fonts/Hermit-Regular.otf") format("opentype");
}